body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
    background-color: #1F2937;
}

.header, .main-content {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 5px;
    flex-shrink: 0;
}

.header .left-side {
    font-size: 28px;
    font-weight: 700;
    color: #F9FAF8;
    padding-right: 50px;
}

.right-side {
    display: flex;
    justify-content: center;
}

.right-side ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    width: 450px;
    justify-content: space-around;
    padding-left: 50px;
}

.right-side ul li {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
}

.main-content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 450px;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.main-content .left-side {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 450px;
    height: 250px;
}

.main-content .right-side {
    width: 450px;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: #999997;
    color: #E5E7EB;
}

.main-content .left-side .title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.main-content .left-side .text {
    font-size: 18px;
    color: #E5E7EB;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-content .left-side button {
    width: 100px;
    background-color: #3882F6;
    border-radius: 5px;
    border: 0px;
    height: 30px;
    color: #E5E7EB;
    font-family: sans-serif;
}

.info {
    /* flex-shrink: 0; */
    background-color: white;
}

.quote {
    flex-shrink: 0;
}

.sign-up {
    flex-shrink: 0;
}

.footer {
    flex-shrink: 0;
}

.info{
    padding-bottom: 100px;
}

.info,
.info .top,
.info .bottom {
    width: 100%;
}

.li-item {
    display: flex;
    flex-direction: column;
}

.info .top{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    padding: 20px;
    height: 70px;
    align-items: center;
}

.info .bottom {
    display: flex;
    justify-content: center;
}

.info ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
    width: 800px;
}

li .box {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 8px;
    align-self: center;
}

li .text {
    font-size: 18px;
    color: #7a7a78;
    align-self: center;
    text-align: center;
    padding-top: 20px;
}

.quote {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    background-color: #E5E7EB;
    justify-content: center;
}

.quote .text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    width: 750px;
    align-self: center;
}

.author-div {
    align-self: center;
    width: 700px;
    display: flex;
    justify-content: flex-end;
}

.quote .author {
    font-size: 24px;
    font-weight: 700;
}